@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  font-family: "Salsa", system-ui;
}
.main-font1{
  font-family: "Salsa", system-ui;
}
.main-font2{
        font-family: "Rock Salt", cursive;
}
.main-font3{
    font-family: "Satisfy", cursive;
}
.main-font4{
    font-family: "Amaranth", sans-serif;
}
::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-radius: 8px;
    border: 1px solid #2a2a2a;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 8px;
    border: 2px solid #1b1b1b;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #666;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  ::-webkit-scrollbar-corner {
    background: #1b1b1b;
  }
  